.faq {
  padding: 220px 0 130px;

  @media (max-width: $max-tablet) {
    padding: 210px 0 120px;
  }

  @media (max-width: $max-mobile) {
    padding: 160px 0 90px;
  }
}

.faq-inner {
  @include container;
}

.faq-title {
  @include section-title;
}

.faq-list {
  margin-top: 80px;

  @media (max-width: $max-tablet) {
    margin-top: 70px;
  }

  @media (max-width: $max-mobile) {
    margin-top: 50px;
  }
}

.faq-item {
  margin-top: 40px;
  font-weight: 300;

  @media (max-width: $max-mobile) {
    margin-top: 20px;
  }

  border: 1px solid rgba(255, 45, 45, 0.2);
}

.faq-question {
  display: block;
  width: 100%;
  padding: 25px 30px;
  font-size: 36px;
  line-height: 49px;
  text-align: left;
  color: $color-faq-question;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;

  @media (max-width: $max-tablet) {
    font-size: 32px;
    line-height: 44px;
  }

  @media (max-width: $max-mobile) {
    font-size: 20px;
    line-height: 27px;
  }
}

.faq-answer {
  display: none;
  padding: 0 30px 30px 30px;
  font-size: 18px;
  line-height: 25px;

  @media (max-width: $max-tablet) {
    font-size: 16px;
    line-height: 22px;
  }

  @media (max-width: $max-mobile) {
    font-size: 14px;
    line-height: 19px;
  }
}

p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}
