.order {
  padding: 130px 0;
  color: $color-dark;
  background-color: rgba($color-dark , .1);

  @media (max-width: $max-tablet) {
    padding: 120px 0;
  }

  @media (max-width: $max-mobile) {
    padding: 90px 0;
  }
}

.order-inner {
  @include container;
}

.order-title {
  @include section-title;
  margin-bottom: 37px;
}

.order-text {
  margin: 0;
  font-size: 28px;
  line-height: 38px;
  text-align: center;

  @media (max-width: $max-mobile) {
    font-size: 18px;
    line-height: 25px;
  }
}
