.reviews {
  padding: 220px 0 130px;

  @media (max-width: $max-tablet) {
    padding: 210px 0 120px;
  }

  @media (max-width: $max-mobile) {
    padding: 160px 0 90px;
  }
}

.reviews-inner {
  @include container;
}

.reviews-title {
  @include section-title;
}

.slider-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

  @media (max-width: $max-tablet) {
    margin-top: 70px;
  }

  @media (max-width: $max-mobile) {
    margin-top: 50px;
  }
}

.slider-btn {
  width: 60px;
  height: 60px;
  background-image: url(/images/i-slider-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;

  @media (max-width: $max-tablet) {
    width: 44px;
    height: 44px;
  }
}

.slider-content {
  display: flex;
  flex-basis: 66.66%;
  margin: 0 128px - $indent-gap-half;
}

.slider-pic-wrap {
  padding: 0 $indent-gap-half;
}

.slider-textblock {
  padding: 0 $indent-gap-half;
}

.slider-name {
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 40px;

  @media (max-width: $max-tablet) {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 20px;
  }

  @media (max-width: $max-mobile) {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 10px;
  }
}
