// Colors
$color-dark: #333;
$color-accent: #FF2D2D;
$color-light: #fff;
$color-faq-question: #152B3C;

// Indents
// $indent-section-top: 140px;

$indent-gap: 20px;
$indent-gap-half: $indent-gap / 2;

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$max-mobile: $tablet - 1;
$max-tablet: $desktop - 1;
